[submodule "hbd"]
	path = hbd
	url = https://github.com/aliczin/howto-be-digital
[submodule "include/lazyeco"]
	path = include/lazyeco
	url = https://github.com/aliczin/lazyeco
[submodule "include/pggy"]
	path = include/pggy
	url = https://github.com/aliczin/pggy
